/* Index */
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), rgb(2, 2, 2)),
    url(Images/bread5.bmp);
    background-attachment: fixed;
    height: 100%; 
    width: 100%; 
    font-family: 'Open Sans', sans-serif;
}
.logo{
    font-size: 20px;
    text-align: left;
    float: left;
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.navbar{
    color: white;
    font-size: 35 px;
    padding: 5px;;
    border: 1%;
    border-color: black; 
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
    
a:link{
    text-decoration: none;
    word-spacing: 10px;;
    display: inline-block;
    padding: 10px;
    font-size: 23px;
    
}
a:visited{
    color:none;
}
.navbar a{
    color:white;
}

.bodyindex{
    /* background-image:; */
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), rgb(2, 2, 2)),
    url();
    /* background5-attachment: fixed; */
    height: 100%; 
    width: 100%; 
    font-family: 'Open Sans', sans-serif; 

}
.slide {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    border-radius: 10px;
    
  }
  .slide-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 0;
    background: linear-gradient (circle, rgba(5, 5, 5, 0), rgb(2, 2, 2)),;
  }
  .slide > div:nth-child(2) {
    animation-delay: 5s;
  }
  .slide > div:nth-child(3) {
    animation-delay: 10s;
  }
  .slide > div:nth-child(4) {
    animation-delay: 15s;
  }
  .slide > div:nth-child(5) {
    animation-delay: 20s;
  }

  @keyframes slide {
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      transform: scale(1.2);
    }
  }

.indextop{
    color: white;
    /* background-color:  #f596309a; */
    border-radius: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

  } 
.order a{
    color: white;
    background-color:  #f596309a;
    border-radius: 100px;
    text-align: center;
    margin-left: 600px;
    margin-top: 10px;
    
}

.clear{
    clear: both;
}

/* AboutUs Page */
.abouttop{
    align-items: center;
    color: white;
    margin-left: 400px;
    margin-right: 100px;
   
}
.slogan{
    margin-left: 45px;
    text-shadow: 1px 1px 2px black;
}
.abouttop img{
    background: linear-gradient(circle, rgba(12, 9, 9, 0), rgb(7, 7, 7)),;
    border-radius: 100px;
    width:700px;
    height:500px;
}
.maintext{
    background-color:  rgba(190, 162, 119, 0.781);
    color: white;
    text-align: justify;
    border-radius: 45px;
    margin-bottom: 100px;
    width: 980px;
    margin-left: 200px;

}
.maintext h2{
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
.ingredients{
    background:rgba(190, 162, 119, 0.781);
    color: white;
    border-radius: 50px;
    width: 600px;
    margin-left: 400px;
}
.ingredients h2{
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.ingredients ul li{
   font-weight: bold;
   font-size: 23px;
   
}
/* Product Page*/

.gridcontainer{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1px;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
}
.gridcontainer .products{
    /* background-color: #dbcbb6; */
    padding: 1px;
    color: white;
}
/* .gridcontainer .products:nth-child(odd){
    background: #bbb4ad;
} */
/*.griddescription{
    color: #8a788a;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 3px;
    text-align: center;
}*
/*.image{
   width: 100px;
   height: 300px;
}*/
h3{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.griddescription{
    text-align: justify;
   /* padding-left: 10px; */
   
}
figcaption .cartlink {
    word-spacing: 0px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color:  #f596309a;
    border-radius: 100px;
}

figcaption .cartlink:hover {
    background-color: #e4ab6f9a;
    

}
/* Contact Page */

.formulario{
    color:white;
    width:35%;
    padding: 40px;
    border:10px;
    background-color:  rgba(190, 162, 119, 0.781);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
     
   }
   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(14, 10, 223);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #f596309a;
  }


   /* Footer */
  footer{
      display: flex;
      margin-top: 100px;
  }
  small{
      float:left;
  }
   
   .foot{
       color: white;
   }
   .social{
       float: right;
       padding-left: 800px;
   }
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 75%;
    /* display: inline-block; */
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  @media only screen and (max-width: 480px)  {
    .gridcontainer{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        margin: auto;
    }
    h3{
        font-size:12px;
    }
    .griddescription{
        text-align: justify;
        font-size: 12px;
       
    }
    figcaption .cartlink {
        word-spacing: 0px;
        padding: 10px;
        font-size: 12px;

    }
    .products figure img {
        width: 150px;
        height: 75px;
    }
        
    .logo{
        width: 40px;
        height: 35px;
        font-size: 7px;
    }
    .navbar{
        color: white;
        font-size: 3px;
        padding: 1px;;
        border: 1%;
        margin-bottom: 50px;
    }
    a:link{
        text-decoration: none;
        word-spacing: 3px;
        display: inline-block;
        padding: 10px;
        font-size: 10px;
        
    }
    .abouttop{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slogan{
        font-size: 12px;
    }
    .abouttop img {
        width: 300px;
       padding-left: 40px;

    }
    .maintext{
        margin-bottom: 100px;
        width: 350px;
        margin-left: 30px;
        padding: 5px;
    
    }
 
    .ingredients{
        width: 350px;
        margin-left: 30px;
    }
   
    .social{
        float: right;
        padding-left: 45px;
    }
    .foot{
        color: white;
        font-size: 7px;
    }
    .social{
        float: right;
        padding-left: 120px;
    }
    .fa {
     padding: 1px;
     font-size: 1px;
     width: 5px;
     text-align: center;
     text-decoration: none;
     margin: 1px 1px;
     border-radius: 55%;
   }
   .slide {
    width: 375px;
    height: 285px;
    
  }

  .slide-img img{
      width: 375px;
      height:285px;
  }
  .indextop{
    font-size: 7px;
    width:350px;
    margin-top: 50px;
    margin-bottom: 50px;

  } 
.order a{
   
    margin-left: 130px;
    margin-top: 10px;
 }
.formulario{
    width: 50%;
}
}
   
@media only screen and (min-width: 481px) and (max-width: 767px){
    .gridcontainer{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        margin: auto;
    }
    h3{
        font-size:12px;
    }
    .griddescription{
        text-align: justify;
        font-size: 12px;
       
    }
    figcaption .cartlink {
        word-spacing: 0px;
        padding: 10px;
        font-size: 12px;

    }
    .products figure img {
        width: 150px;
        height: 75px;
    }
        
    .logo{
        width: 40px;
        height: 35px;
        font-size: 10px;
    }
    .navbar{
        color: white;
        font-size: 3px;
        padding: 1px;;
        border: 1%;
        margin-bottom: 50px;
    }
    a:link{
        text-decoration: none;
        word-spacing: 3px;
        display: inline-block;
        padding: 10px;
        font-size: 10px;
        
    }
    .abouttop{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slogan{
        font-size: 12px;
    }
    .abouttop img {
        width: 300px;
       padding-left: 40px;

    }
    .maintext{
        margin-bottom: 100px;
        width: 350px;
        margin-left: 30px;
        padding: 5px;
    
    }
 
    .ingredients{
        width: 350px;
        margin-left: 30px;
    }
   
    .social{
        float: right;
        padding-left: 45px;
    }
    .foot{
        color: white;
        font-size: 12px;
    }
    .social{
        float: right;
        padding-left: 120px;
    }
    .fa {
     padding: 1px;
     font-size: 1px;
     width: 5px;
     text-align: center;
     text-decoration: none;
     margin: 1px 1px;
     border-radius: 55%;
   }
   .slide {
    width: 480px;
    height: 385px;
    
  }

  .slide-img img{
      width: 480px;
      height:385px;
  }
  .indextop{
    font-size: 13px;
    width:400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;

  } 
.order a{
   
    margin-left: 185px;
    margin-top: 10px;
 }
.formulario{
    width: 50%;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .gridcontainer{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        margin: auto;
    }
    h3{
        font-size:16px;
    }
    .griddescription{
        text-align: justify;
        font-size: 13px;
       
    }
    figcaption .cartlink {
        padding: 10px;
        font-size: 12px;

    }
    .products figure img {
        width: 180px;
        height: 100px;
        
    }
        
    .logo{
        width: 55px;
        height: 35px;
        font-size: 14px;
    }
    .navbar{
        color: white;
        font-size: 3px;
        padding: 1px;;
        border: 1%;
        margin-bottom: 50px;
    }
    a:link{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        
    }
    .abouttop{
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 10px;
    }
    .slogan{
        font-size: 20px;
        margin-left: 150px
    }
    .abouttop img {
        width: 1200x;
        height: 800px;
       padding-left: 40px;

    }
    .maintext{
        margin-top: 30px;
        margin-bottom: 100px;
        width: 600px;
        margin-left: 100px;
        padding: 5px;
    
    }
 
    .ingredients{
        width: 550px;
        margin-left: 130px;
    }
   
    .social{
        float: right;
        padding-left: 45px;
    }
    .foot{
        color: white;
        font-size: 15px;
    }
    .social{
        float: right;
        padding-left: 220px;
    }
    .fa {
     padding: 1px;
     font-size: 5px;
     width: 35px;
     text-align: center;
     text-decoration: none;
     margin: 1px 1px;
     border-radius: 65%;
   }
   .slide {
    width: 880px;
    height: 700px;
    margin-top: 100px;
    
  }

  .slide-img img{
      width: 880px;
      height: 700px;
  }
  .indextop{
    font-size: 14px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;

  } 
.order a{
   
    margin-left: 250px;
    margin-top: 10px;
 }
.formulario{
    width: 70%;
    margin-bottom: 250px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .gridcontainer{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1px;
        margin: auto;
    }
    h3{
        font-size:20px;
    }
    .griddescription{
        text-align: justify;
        font-size: 16px;
       
    }
    figcaption .cartlink {
        padding: -5;
        font-size: 12px;

    }
    .products figure img {
        width: 400x;
        height: 200px;
        
    }
        
    .logo{
        width: 60px;
        height: 45px;
        font-size: 18px;
    }
    .navbar{
        color: white;
        font-size: 3px;
        padding: 1px;;
        border: 1%;
        margin-bottom: 70px;
    }
    a:link{
        display: inline-block;
        padding: 10px;
        font-size: 22px;
        
    }
    .abouttop{
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 50px;
    }
    .slogan{
        font-size: 20px;
        margin-left: 150px
    }
    .abouttop img {
        width: 880px;
        height: 780px;
       padding-left: 10px;

    }
    .maintext{
        margin-top: 30px;
        margin-bottom: 100px;
        width: 800px;
        margin-left: 100px;
        padding: 5px;
        font-size: 20px;
    
    }
 
    .ingredients{
        width: 750px;
        margin-left: 130px;
        font-size: 18px;
    }
   
    .social{
        float: right;
        padding-left: 45px;
    }
    .foot{
        color: white;
        font-size: 16px;
    }
    .social{
        float: right;
        padding-left: 480px;
    }
    .fa {
     padding: 1px;
     font-size: 5px;
     width: 35px;
     text-align: center;
     text-decoration: none;
     margin: 1px 1px;
     border-radius: 70%;
   }
   .slide {
    width: 1024px;
    height: 800px;
    margin-top: 100px;
    
  }

  .slide-img img{
      width: 1024px;
      height: 800px;
  }
  .indextop{
    font-size: 14px;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;

  } 
.order a{
   
    margin-left: 350px;
    margin-top: 10px;
 }
.formulario{
    width: 70%;
    margin-bottom: 250px;
}
}
